<h1>Wacky Widgets</h1>
<% if (widget == false) { %>
	<h2>No Widgets Exists</h2>
<% } %>

<div>
	<% widget.forEach(w => { %>
	<section>
	<form action="delete?_method=DELETE" method="POST">
		<%= w.name %>
		<input type="hidden" name="name" value="<%= w.name %>">
		<%= w.quantity %>
		<input type="hidden" name="quantity" value="<%= w.quantity %>">
		<input type="submit" name="Add Widgets">
	</form>
</section>
	<% })%>
</div>

<hr>
<h2>Add Widget</h2>
<div>
	<form action="/" method="POST">
		<div>
			<input type="text" name="name">
		</div>
		<div>
			<input type="text" name="quantity">
		</div>
		<div>
			<input type="submit">
		</div>
		
	</form>
</div>